<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            padding: 20px;
        }
        h1 {
            color: #007BFF;
        }
        p {
            font-size: 18px;
        }   
    </style>
    <nav class="bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center py-4">

            <div class="text-xl font-bold text-blue-600">
                MonSite
            </div>

            <div class="space-x-6 hidden md:flex">
                <a href="{{ path('film') }}" class="text-gray-600 hover:text-blue-600"> film</a>
                <a href="{{ path('index') }}" class="text-gray-600 hover:text-blue-600"> index</a>
                <a href="{{ path('contact') }}" class="text-gray-600 hover:text-blue-600"> contact</a>

            </div>

            <div class="md:hidden">
                <button class="text-gray-600">☰</button>
            </div>

        </div>
    </div>
</nav>
    <h1>contact</h1>
    <div>
        <p>Pour nous contacter, veuillez envoyer un email à : exemle@moi.com</p>
        <p>Vous pouvez également nous appeler au : 123-456-7890</p>
    </div>

</body>
</html>